<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="viewport"
          content="target-densityDpi=device-dpi, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>

    <!-- JS dependencies (order matters!) -->
    <script src="scripts/platformOverrides.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="js/lib/angular-sanitize.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script src="js/lib/jquery-2.1.4.min.js"></script>
    <script src="js/lib/jquery.transit.min.js"></script>
    <script src="js/lib/velocity.js"></script>


    <!-- CSS dependencies -->
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css"/>
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css"/>

    <!-- CSP support mode (required for Windows Universal apps) -->
    <link rel="stylesheet" href="lib/angular/angular-csp.css"/>

    <link rel="stylesheet" href="css/style.css"/>

    <!-- --------------- App init --------------- -->

    <title>Onsen UI Sliding Menu</title>

    <script>
        app = angular.module('app', ['onsen', 'ngSanitize']);

    </script>
    <script src="js/app.js"></script>


</head>

<body>
<!-- Cordova reference -->
<script src="cordova.js"></script>
<script src="scripts/index.js"></script>
<!-- -->

<ons-sliding-menu main-page="login.html" side="left"
                  var="menu" type="reveal" max-slide-distance="260px" swipeable="false">
</ons-sliding-menu>

<ons-template id="login.html">
    <ons-page id="login" ng-controller="LoginCtrl" ng-init="init()">
        <ons-row class="login">
            <ons-col>
                <h1>Brumes</h1>

                <div class="form">
                    <input type="text" name="login_username" placeholder="Pseudo">
                    <input type="text" name="login_password" placeholder="Mot de passe">
                    <input type="hidden" name="login_local" value="0">

                    <p class="login_error"></p>
                    <input type="submit" name="login_submit" value="Connection" ng-click="submit()">
                </div>
            </ons-col>
        </ons-row>
    </ons-page>
</ons-template>

<ons-template id="home.html">
    <ons-page id="home">
        <ons-row class="home" ng-controller="HomeCtrl"
        <!-- ng-init="init()"-->>
        <ons-col>
            <div class="Header" data-position="fixed" data-tap-toggle="false">
                <div class="header_name" ng-click="chooseCharacter()" style="width:100%;">
                        <span ng-if="character!==undefined">
                            {{ character.playername }} <i class="fa fa-caret-down"></i>
                        </span>
                        <span ng-if="character==undefined">
                            Choisisez votre personnage <i class="fa fa-caret-down"></i>
                        </span>
                </div>
            </div>
            <div class="Hnews">
                <ons-carousel fullscreen swipeable overscrollable auto-scroll auto-refresh>
                    <ons-carousel-item ng-repeat="new in news | limitTo: 10" ng-if="new.status == 'publish'" name="{{new.ID }}"style="
                        background-image: url('{{ new.featured_image.source }}');
                        background-repeat: no-repeat;
                        -webkit-background-size: 100% auto;background-size: 100% auto;
                        background-position-y: 30%;
                        " ng-click="goToArticle(new.ID)">
                        <p ng-bind-html="new.title" class="home_new_title" ng-click="goToArticle(new.ID)"></p>
                        <!--<p class="home_new_content" ng-bind-html="new.content | htmlToPlaintext"></p>-->
                    </ons-carousel-item>
                </ons-carousel>
            </div>
            <div class="Hmenu menu-3">
                    <span class="menu-item menu-item-4 " ng-click="goToProfil()">
                        Profil
                    </span>
                    <span class="menu-item menu-item-2" ng-click="goToNews()">
                        News
                    </span>
                    <span class="menu-item menu-item-2" ng-click="goToWiki()">
                        Wiki
                    </span>
                    <span class="menu-item menu-item-3" ng-if="character!==undefined&&character.guild!=null">
                        Guilde
                    </span>
                    <span class="menu-item menu-item-disable menu-item-3"
                          ng-if="character==undefined||character.guild==null">
                        Guilde
                    </span>
                <a href="#" onclick="window.open('http://brumes.eu/boutique/', '_system');">
                        <span class="menu-item menu-item-1">
                        Shop
                        </span>
                </a>
            </div>

        </ons-col>
        </ons-row>
        <ons-row class="homeChooseCharacter" ng-controller="HomeCharacterCtrl">
            <ons-col>
                <h2>Vos personnages</h2>
                <ul>
                    <li ng-repeat="c in user.characters" ng-click="chooseCharacter(c)"
                        ng-class="{'select' : c.playername == character.playername}">
                        <span class="image">
                            <i class="fa fa-user"></i>
                        </span>
                        <span class="playername">
                            {{ c.playername }}
                        </span>
                        <i class="arrow fa fa-angle-right"></i>
                    </li>
                </ul>
            </ons-col>
        </ons-row>
    </ons-page>
</ons-template>


<ons-template id="news.html">
    <ons-page id="news">
        <ons-row class="news" ng-controller="NewsCtrl">
            <ons-col>
                <div class="Header" data-position="fixed" data-tap-toggle="false">
                    <div class="menu_pic">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="refresh_pic" ng-click="onRefresh()">
                        <i class="fa fa-refresh"></i>
                    </div>
                    <div class="header_name" style="width:calc(100% - 100px);">
                        <span>
                            News
                        </span>
                    </div>

                </div>
                <div class="Body">
                    <span ng-repeat="new in news | orderBy:date:true " ng-if="new.status == 'publish'" style="
                        background-image: url('{{ new.featured_image.source }}');
                        background-repeat: no-repeat;
                        -webkit-background-size: 100% auto;background-size: 100% auto;
                        background-position-y: 30%;
                        " class="news_item" ng-click="goToNews(new.ID)">
                    <p ng-bind-html="new.title" class="home_new_title" ng-click="goToNews(new.ID)"></p>
                    <!--<p class="home_new_content" ng-bind-html="new.content | htmlToPlaintext"></p>-->
                </span>
                </div>
            </ons-col>
        </ons-row>
        <ons-row class="swipe_menu" ng-controller="SwipeMenuCtrl">
            <ons-col>
                <ul>
                    <li ng-click="goTo('home.html')">
                        Accueil
                    </li>
                    <li ng-click="goTo('profil.html')">
                        Profil
                    </li>
                    <li class="active" ng-click="goTo('news.html')">
                        News
                    </li>
                    <li ng-click="goTo('wiki.html')">
                        Wiki
                    </li>
                    <li ng-click="goTo('guilde.html')">
                        Guilde
                    </li>
                    <a href="#" onclick="window.open('http://brumes.eu/boutique/', '_system');">
                        <li>
                            Shop
                        </li>
                    </a>
                </ul>
            </ons-col>
        </ons-row>
    </ons-page>
</ons-template>

<ons-template id="article.html">
    <ons-page id="article">
        <ons-row class="article" ng-controller="ArticleCtrl">
            <ons-col>
                <div class="Header" data-position="fixed" data-tap-toggle="false">
                    <div class="profile_pic" ng-click="goTo()" name="article_before" value="">
                        <i class="fa fa-angle-left"></i>
                    </div>
                    <div class="header_name">

                        <span ng-bind-html="article.title"
                              ng-attr-style="font-size:{{ 100 / (article.title.length/30) > 100 ? 100 : 100 / (article.title.length/30) }}%">
                        </span>
                    </div>
                </div>
                <div class="Body">
                    <div class="article_img_main" style="background-image: url('{{ article.featured_image.source }}');
                        background-repeat: no-repeat;
                        -webkit-background-size: 100% auto;background-size: 100% auto;
                        background-position-y: 30%;"></div>
                    <div class="article" ng-bind-html="article.content">

                    </div>
                </div>

            </ons-col>
        </ons-row>
    </ons-page>
</ons-template>

<ons-template id="wiki.html">
    <ons-page id="wiki">
        <ons-row class="wiki" ng-controller="WikiCtrl">
            <ons-col>
                <div class="Header" data-position="fixed" data-tap-toggle="false">
                    <div class="menu_pic">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="categorie_pic" ng-click="">
                    </div>
                    <div class="header_name" style="width:calc(100% - 100px);">
                        <span>
                            Wiki
                        </span>
                    </div>
                </div>
                <div class="Body">
                    <div class="wiki_categorie wiki_categorie-4" ng-click="goToWikiItem('weapon')">Armes</div>
                    <div class="wiki_categorie wiki_categorie-2" ng-click="goToWikiItem('armor')">Armures</div>
                    <div class="wiki_categorie wiki_categorie-2" ng-click="goToWikiItem('object')">Objets</div>
                    <div class="wiki_categorie wiki_categorie-3" ng-click="goToWikiItem('parchment')">Parchemins</div>
                    <div class="wiki_categorie wiki_categorie-1" ng-click="goToWikiItem('potion')">Potions</div>
                    <div class="wiki_categorie wiki_categorie-4" ng-click="goToWikiItem('quest')">Quêtes</div>
                    <div class="wiki_categorie wiki_categorie-1" ng-click="goToWikiItem('carte')">Cartes</div>
                    <div class="wiki_categorie wiki_categorie-3" ng-click="goToWikiItem('monster')">Monstres</div>
                    <div class="wiki_categorie wiki_categorie-2" ng-click="goToWikiItem('skill')">Competences</div>
                    <div class="wiki_categorie wiki_categorie-2" ng-click="goToWikiItem('spell')">Sorts</div>
                    <div class="wiki_categorie wiki_categorie-4" ng-click="goToWikiItem('pnj')">PNJ</div>
                </div>

            </ons-col>
        </ons-row>
        <ons-row class="swipe_menu" ng-controller="SwipeMenuCtrl">
            <ons-col>
                <ul>
                    <li ng-click="goTo('home.html')">
                        Accueil
                    </li>
                    <li ng-click="goTo('profil.html')">
                        Profil
                    </li>
                    <li ng-click="goTo('news.html')">
                        News
                    </li>
                    <li class="active" ng-click="goTo('wiki.html')">
                        Wiki
                    </li>
                    <li ng-click="goTo('guilde.html')">
                        Guilde
                    </li>
                    <a href="#" onclick="window.open('http://brumes.eu/boutique/', '_system');">
                        <li>
                            Shop
                        </li>
                    </a>
                </ul>
            </ons-col>
        </ons-row>
    </ons-page>
</ons-template>

<ons-template id="wiki_item.html">
    <ons-page id="wiki_item">
        <ons-row class="wiki_item" ng-controller="WikiItemCtrl">
            <ons-col>
                <div class="Header" data-position="fixed" data-tap-toggle="false">
                    <div class="menu_pic">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="categorie_pic" ng-click="">
                    </div>
                    <div class="header_name" style="width:calc(100% - 100px);">
                        <span ng-switch="wiki_item.type">
                            <p ng-switch-when="weapon">Armes</p>
                            <p ng-switch-when="armor">Armure</p>
                            <p ng-switch-when="object">Objets</p>
                            <p ng-switch-when="parchment">Parchemins</p>
                            <p ng-switch-when="potion">Potions</p>
                            <p ng-switch-when="quest">Quêtes</p>
                            <p ng-switch-when="carte">Cartes</p>
                            <p ng-switch-when="monster">Monstres</p>
                            <p ng-switch-when="pnj">PNJ</p>
                            <p ng-switch-when="skill">Sorts</p>
                            <p ng-switch-when="spell">Compétences</p>

                        </span>
                    </div>
                </div>
                <div class="Body">

                    <span ng-switch="wiki_item.type">
                        <span ng-switch-when="weapon">
                            <div class="item" ng-repeat="item in wiki_item" ng-if="item.id_bdd!==undefined">
                                <div class="single_item">
                                    <div class="single_image">
                                        <img src="{{ item.picture}}" alt="{{ item.name }}">
                                    </div>
                                    <div class="single_name" ng-bind-html="item.name">
                                    </div>
                                    <i class="single_arrow fa fa-angle-right"></i>
                                </div>
                                <div class="content_item">
                                    <span style="background:#901D1D;width:100%;color:white;font-size: .8em;display:block;">
                                        <div style="width:34%;display: inline-block;float: left;font-size: 12px">
                                            <p></p>
                                        </div>
                                        <div style="width:29%;display: inline-block;text-align: center">
                                            <img src="{{item.picture}}" alt=""
                                                 style="width:80px;margin:10px auto;display: block;">
                                            <i>{{ item.type }}</i>
                                        </div>
                                        <div style="width:34%;display: inline-block;float:right;font-size: 12px;padding-top:15px;">
                                            <p>Prix à l'achat : {{ item.price_buy }}</p>

                                            <p>Prix vendus : {{ item.price_sell }}</p>
                                        </div>
                                    </span>
                                    <span style="background:#CECECE;width:100%;color:rgb(9,9,9);font-size: .8em;height:150px;display:block;">
                                        <div style="width:100%;display: inline-block;float: left;text-align: center">
                                            <p style="display: inline-block;width:49%;float: left" ng-if="item.force!='0/0'">Force
                                                : {{ item.force }}</p>

                                            <p style="display: inline-block;width:49%;float: left" ng-if="item.endurance!=0">
                                                Endurance : {{ item.endurance }}</p>

                                            <p style="display: inline-block;width:49%;float: left" ng-if="item.dexterite!=0">
                                                Dexterite : {{ item.dexterite }}</p>

                                            <p style="display: inline-block;width:49%;float: left" ng-if="item.attaque!=0">Attaque
                                                : {{ item.attaque }}</p>

                                            <p style="display: inline-block;width:49%;float: left" ng-if="item.degats!=0">Degats :
                                                {{ item.degats }}</p>

                                            <p style="display: inline-block;width:49%;float: left" ng-if="item.intelligence!=0">
                                                Intelligence : {{ item.intelligence }}</p>

                                            <p style="display: inline-block;width:49%;float: left" ng-if="item.sagesse!=0">Sagesse
                                                : {{ item.sagesse }}</p>

                                            <p style="display: inline-block;width:49%;float: left" ng-if="item.encombrement!=0">
                                                Encombrement : {{ item.encombrement }}</p>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </span>
                        <span ng-switch-when="armor">

                        </span>
                        <span ng-switch-when="object">

                        </span>
                        <span ng-switch-when="parchment">

                        </span>
                        <span ng-switch-when="potion">

                        </span>
                        <span ng-switch-when="quest">

                        </span>
                        <span ng-switch-when="carte">

                        </span>
                        <span ng-switch-when="monster">

                        </span>
                        <span ng-switch-when="pnj">

                        </span>
                        <span ng-switch-when="skill">

                        </span>
                        <span ng-switch-when="spell">

                        </span>
                        <span ng-switch-default>

                        </span>
                    </span>
                </div>
            </ons-col>
        </ons-row>
        <ons-row class="swipe_menu" ng-controller="SwipeMenuCtrl">
            <ons-col>
                <ul>
                    <li ng-click="goTo('home.html')">
                        Accueil
                    </li>
                    <li ng-click="goTo('profil.html')">
                        Profil
                    </li>
                    <li ng-click="goTo('news.html')">
                        News
                    </li>
                    <li class="active" ng-click="goTo('wiki.html')">
                        Wiki
                    </li>
                    <li ng-click="goTo('guilde.html')">
                        Guilde
                    </li>
                    <a href="#" onclick="window.open('http://brumes.eu/boutique/', '_system');">
                        <li>
                            Shop
                        </li>
                    </a>
                </ul>
            </ons-col>
        </ons-row>
    </ons-page>
</ons-template>

<ons-template id="profil.html">
    <ons-page id="profil">
        <ons-row class="profil" ng-controller="ProfilCtrl">
            <ons-col>
                <div class="Header" data-position="fixed" data-tap-toggle="false">
                    <div class="menu_pic">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="categorie_pic" ng-click="">
                    </div>
                    <div class="header_name" ng-click="chooseCharacter()" style="width:calc(100% - 100px);">
                        <span>
                            {{ character.playername }}
                        </span>
                    </div>
                </div>
                <div class="Body">
                    <div class="profil_character">
                        <div class="item i-w-33 i-h-43 i-t-47 i-l-28" name="cou"></div>
                        <div class="item i-w-64 i-h-117 i-t-56 i-l-11" name="armure"></div>
                        <div class="item i-w-64 i-h-117 i-t-67 i-l-11" name="arme_droite"></div>
                        <div class="item i-w-50 i-h-62 i-t-77 i-l-11" name="gants"></div>
                        <div class="item i-w-50 i-h-62 i-t-15 i-l-64" name="ceinture"></div>
                        <div class="item i-w-65 i-h-95 i-t-m-64 i-l-117" name="jambes"></div>
                        <div class="item i-w-50 i-h-62 i-t-m-142 i-l-186" name="boots"></div>
                        <div class="item i-w-50 i-h-62 i-t-m-204 i-l-239" name="orbe"></div>
                        <div class="item i-w-64 i-h-117 i-t-m-394 i-l-225" name="arme_gauche"></div>
                        <div class="item i-w-64 i-h-117 i-t-m-639 i-l-225" name="dos"></div>
                        <div class="item i-w-34 i-h-43 i-t-m-807 i-l-238" name="anneau_2"></div>
                        <div class="item i-w-34 i-h-43 i-t-m-860 i-l-193" name="anneau_1"></div>
                        <div class="item i-w-64 i-h-80 i-t-m-920 i-l-119" name="tete"></div>
                        <div class="item i-w-33 i-h-43 i-t-m-983 i-l-74" name="poignet"></div>

                        <img ng-src="http://lorempicsum.com/futurama/255/200/2" width="255" height="200" class="perso"
                             src="http://lorempicsum.com/futurama/255/200/2">
                    </div>
                    <div class="profil_attribute" style="min-height:180px;">
                        <div class="demi" style="border-right: 1px solid black;float:left;padding-left:5%;box-sizing:border-box">
                            <div class="demi icon_attr" style="float: left">
                                <span>
                                    <div class="tier">
                                        <img src="img/caracteristique/icon_stat_str.png" alt="Force">
                                    </div>
                                    <div class="Dtier">
                                        {{ character.strength }}
                                    </div>
                                </span>
                                <span>
                                    <div class="tier">
                                        <img src="img/caracteristique/icon_stat_end.png" alt="Endurance">
                                    </div>
                                    <div class="Dtier">
                                        {{ character.endurance }}
                                    </div>
                                </span>
                                <span>
                                    <div class="tier">
                                        <img src="img/caracteristique/icon_stat_agi.png" alt="Dextérité">
                                    </div>
                                    <div class="Dtier">
                                        {{ character.agility }}
                                    </div>
                                </span>
                                <span>
                                    <div class="tier">
                                        <img src="img/caracteristique/icon_stat_int.png" alt="Intelligence">
                                    </div>
                                    <div class="Dtier">
                                        {{ character.intelligence }}
                                    </div>
                                </span>
                                <span>
                                    <div class="tier">
                                        <img src="img/caracteristique/icon_stat_wis.png" alt="Sagesse">
                                    </div>
                                    <div class="Dtier">
                                        {{ character.wisdom }}
                                    </div>
                                </span>
                            </div>
                            <div class="demi icon_attr">
                                <span>
                                    <div class="tier">
                                        <img src="img/caracteristique/icon_stat_ac.png" alt="Classe d'armure">
                                    </div>
                                    <div class="Dtier">

                                    </div>
                                </span>
                                <span>
                                    <div class="tier">
                                        <img src="img/caracteristique/icon_stat_chance.png" alt="Chance">
                                    </div>
                                    <div class="Dtier">
                                        {{ character.luck }}
                                    </div>
                                </span>
                                <span>
                                    <div class="tier">
                                        <img src="img/caracteristique/icon_stat_health.png" alt="Point de vie">
                                    </div>
                                    <div class="Dtier">
                                        {{ character.maxhp }}
                                    </div>
                                </span>
                                <span>
                                    <div class="tier">
                                        <img src="img/caracteristique/icon_stat_mana.png" alt="Point de magie">
                                    </div>
                                    <div class="Dtier">
                                        {{ character.maxmana}}
                                    </div>
                                </span>
                                <span>
                                    <div class="tier">
                                        <img src="img/caracteristique/icon_stat_enc.png" alt="Encombrement">
                                    </div>
                                    <div class="Dtier">
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="demi">
                            <div class="head_right">
                                <div style="width:70%;float: left;"><p style="margin-left:5%;">Niveau : {{ character.currentlevel }}</p></div>
                                <div style="width:30%;float: right;clear: inherit;">
                                    <p>
                                        <i class="fa fa-mars" ng-if="character.gender==0"></i> <!--homme-->
                                        <i class="fa fa-venus" ng-if="character.gender==1"></i> <!--femme-->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </ons-col>
        </ons-row>
        <ons-row class="swipe_menu" ng-controller="SwipeMenuCtrl">
            <ons-col>
                <ul>
                    <li ng-click="goTo('home.html')">
                        Accueil
                    </li>
                    <li class="active" ng-click="goTo('profil.html')">
                        Profil
                    </li>
                    <li ng-click="goTo('news.html')">
                        News
                    </li>
                    <li ng-click="goTo('wiki.html')">
                        Wiki
                    </li>
                    <li ng-click="goTo('guilde.html')">
                        Guilde
                    </li>
                    <a href="#" onclick="window.open('http://brumes.eu/boutique/', '_system');">
                        <li>
                            Shop
                        </li>
                    </a>
                </ul>
            </ons-col>
        </ons-row>
        <ons-row class="homeChooseCharacter" ng-controller="HomeCharacterCtrl">
            <ons-col>
                <h2>Vos personnages</h2>
                <ul>
                    <li ng-repeat="c in user.characters" ng-click="chooseCharacter(c)"
                        ng-class="{'select' : c.playername == character.playername}">
                        <span class="image">
                            <i class="fa fa-user"></i>
                        </span>
                        <span class="playername">
                            {{ c.playername }}
                        </span>
                        <i class="arrow fa fa-angle-right"></i>
                    </li>
                </ul>
            </ons-col>
        </ons-row>
    </ons-page>
</ons-template>

</body>
</html>