@import "compass";

@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,800,700,200);
@import "../lib/font-awesome/scss/font-awesome";


$black : rgb(9,9,9);
$red : #901D1D;
$red-dark : #521111;

@import "base-framework";

@import "mixin";
@import "structure";

@import "media";
/**
*   Pages
*/

@import "page/common";

@import "page/login";
@import "page/home";
@import "page/news";
@import "page/article";
@import "page/wiki";
@import "page/wiki_item";
@import "page/profil";