.login{
  display: block;
  height: 100%;
  width:100%;
  color:white;
  h1{
    margin:0;
    display: block;
    width: 100%;
    text-align: center;
    font-size:3em;
    font-weight: 300;
    padding:80px 0px 100px 0px;
  }
  .form{
    display: block;
    width:85%;
    height:auto;
    margin:0 auto;
    .login_error{
      text-align: center;
      display: none;
      width:85%;
      margin:0 auto;
      background: rgba($red,0.5);
      margin-bottom: -15px;
      font-size:0.7em;
      padding:3px 0px;
    }
    input{
      display: block;
      width: 100%;
      height:35px;
      @include border-radius(1px);
      background: white;
      color:$black;
      margin-bottom: 15px;
      text-align: center;
      @include input-placeholder{
        color: $black;
        text-align: center;
      };
      border:1px solid white;
      &[type="submit"]{
        background: $red;
        color:white;
        border-color: transparent;
        height: 40px;
        width:90%;
        margin:15px auto;
        cursor: pointer;
        @include transition-duration(.3s);
        &:hover{
          @include transition-duration(.3s);
          background: $red-dark;
          border-color:$red;
        }
      }
      @include transition-duration(.3s);
      &:focus{
        @include transition-duration(.3s);
        background: transparent;
        color:white;
        @include input-placeholder{
          color: transparent;
          text-align: center;
        };
      }
    }
  }
}