.article{
  .article_img_main{
    display: block;
    width: 100%;
    max-height: 45%;
    height:300px;
  }
  .article{
    display: block;
    width:100%;
    padding:50px 40px;
    background: white;
    color:$black;
    word-break: keep-all;
    border-top:10px solid;
    border-left: 3px solid;
    border-color:$red;
    box-sizing: border-box;
    line-height:28px;
    a,h1,h2,h3{
      color:$red;
    }
    blockquote{
      margin:0;
      font-style: italic;
    }

  }
}