

.Header{
  position: fixed;
  top:0;
  left:0;
  height:50px;
  width:100%;
  background: $red;
  overflow-y:hidden;
  z-index:10;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0, 0.5), 0px 2px 10px 0px rgba(0,0,0, 0.5);
  .profile_pic,.menu_pic{
    display:inline-block;
    width:50px;
    height:100%;
    float: left;
    margin:0;
    font-size: 75%;

    @include transition-duration(.3s);
    i{
      font-size: 2em;
      display: block;
      width: 50px;
      height: 100%;
      line-height: 50px;
      vertical-align: middle;
      color:rgba($black,.4);
      text-align: center;
    }
  }
  .menu_pic_active{
    @include transition-duration(.3s);
    @include rotate(90deg);
  }
  .refresh_pic,.categorie_pic{
    display:inline-block;
    width:50px;
    height:100%;
    float: right;
    font-size: 75%;
    margin:0;
    i{
      font-size: 2em;
      display: block;
      width: 50px;
      height: 100%;
      line-height: 50px;
      vertical-align: middle;
      color:rgba($black,.4);
      text-align: center;
    }
  }

  .header_name{
    display: inline !important;
    width:calc(100% - 50px);
    height:100%;
    float: right;
    text-align: center;
    line-height:50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:white;
    i{
      margin-left:6px;
    }
    p{
      margin:0;
    }

  }
}

.Body{
  display: block;
  position: absolute;
  top:50px;
  width:100%;
  height:auto;
  overflow-y: auto;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}

.swipe_menu{
  position: fixed;
  top: 50px;
  left:0;
  width:50px;
  height:0;
  background: $black;
  color:white;
  display: none;
  ul{
    display: block;
    width:100%;
    padding:0;
    li{
      //border-bottom: 1px solid rgba(white,.6);
      width:100%;
      box-sizing: border-box;
      text-decoration: none;
      list-style:none;
      margin:5px 0;
      text-align: center;
      background: rgba(white,0.05);
      padding: 3px 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height:40px;
      color:white;
    }
    a{
      text-decoration: none;
    }
    .active{
      background: $red;
    }

  }

}

.homeChooseCharacter{
  position: fixed;
  top: 50px;
  left: 0;
  background: #101010;
  display:none;
  height:calc(100% - 50px);
  h2{
    display: block;
    width: 100%;
    background: #090909;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-size: 1.5em;
    font-weight: 400;
  }
  ul{
    overflow-y: auto;
    margin:0;
    padding:0;
    li{
      display: block;
      height:70px;
      line-height:70px;
      width:100%;
      margin:0;
      color:white;
      text-align: left;
      overflow-y: hidden;
      .image{
        width:70px;
        height:70px;
        display:block;
        float: left;
        line-height: 70px;
        margin:0;
        text-align:center;
        font-size:1.8em;
      }
      .playingname{
        display:block;
        width:calc(100% - (70px + 30px));
        height:70px;
        line-height: 70px;
        float: left;
        margin:0;
        text-transform: uppercase;
        letter-spacing: 1px;
        color:white;
      }
      .arrow{
        width:30px;
        height:70px;
        display:block;
        float: right;
        line-height: 70px;
        margin:0;
        font-size:2em;
      }
      &:after{
        content:"";
        display: block;
        height: 70px;
        line-height: 70px;
        width: 90%;
        position: relative;
        z-index: 200;
        margin: 0;
        color: #090909;
        text-align: left;
        border-bottom: 1px solid white;
        top: -72px;
      }
    }
    .select{
      background:$red;
    }
  }
}
