#home{
  .home{
    .Hnews{
      display: block;
      position: absolute;
      top:50px;
      left:0;
      width: 100%;
      overflow-y:hidden;
      height:40%;
      min-height:150px;
      border-bottom: 5px solid $red;
      box-shadow: 0px 2px 5px 0px rgba(white, 0.05), 0px 2px 10px 0px rgba(white, 0.05);
      ons-carousel{
        overflow-y:hidden;
        ons-carousel-item{
          overflow-y:hidden;
          .home_new_title{
            background: $red;
            color:white;
            display: block;
            padding:5px 20px;
            position:absolute;
            top:20px;
            left:0;
            text-align: center;
            font-size:30px;
            max-width: 80%;
          }
          .home_new_content{
            font-size:20px;
            background:rgba(255,255,255,.6);
            bottom:0px;
            height:70px;
            overflow: hidden;
            color:$black;
            display: block;
            padding:5px 20px;
            position:absolute;
            left:0;
            text-align: center;
            max-width: 80%;
            text-align:left;

          }
        }
      }
    }
    $margin : 20px;

    .Hmenu{
      display: block;
      position:absolute;
      top:calc(40% + 50px + #{$margin}/2);
      //height: calc(100% - 40% - 50px);
      padding-top:5px;
      padding-bottom: 20px;
      left:0;
      width:100%;
      .menu-item{
        overflow-y:hidden;
        display:inline-block;
        padding:0;
        text-align: center;
        line-height:100px;
        box-sizing: border-box;
        background: $red;
        clear: both;
        min-height:70px;
        top:$margin/2;
        left:$margin/2;
        position: relative;
        //border: 3px solid rgba($red-dark, 0.4);
        text-transform: uppercase;
        letter-spacing: 1px;
        color:white;
        box-shadow: 0px 1px 3px 0px rgba(white, 0.16), 0px 1px 5px 0px rgba(white, 0.12);
      }
      .menu-item-disable{
        background: #9d9d9d;
        border-color:rgba($black,.4);
        border-right-color:rgba($black,.6) ;
        border-bottom-color:rgba($black,.6) ;
        //color:$black;
      }
      .menu-item-1{
        width:calc(25% - #{$margin}/1.5);
      }
      .menu-item-2{
        width:calc(50% - #{$margin}/1.5);
      }
      .menu-item-3{
        width:calc(75% - #{$margin}/1.5);
      }
      .menu-item-4{
        width:calc(100% - #{$margin}*1.1);
      }
      .menu-right{
        float: right;
      }
    }
    @for $i from 1 through 4 {
      .menu-#{$i} {
        .menu-item {
          height: calc(100% / #{$i} - #{$margin});
          line-height: 4em ;
        }
      }
    }
  }


}
