.news{
  .news_item{
    display: block;
    width:100%;
    height:150px;
    margin: -17px 0;
    box-shadow: 0px 1px 3px 0px rgba($black, 0.16), 0px 1px 5px 0px rgba($black, 0.12);
    p{
      max-width: 80%;
      background: $red;
      color:white;
      position: relative;
      padding:3px 0;
      padding-left: 5px;
      top: 75px;
      font-size: 18px;
      left:0;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
    .fa-refresh-active{
      -webkit-animation: rotation 1s infinite linear;
      -o-animation: rotation 1s infinite linear;
      animation: rotation 1s infinite linear;
    }
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);
  }
}
