.profil {
  .profil_character {
    display: block;
    width: 300px;
    height: 450px;
    margin: 10px auto;
    .item {
      display: block;
      position: relative;
    }
    .perso {
      display: block;
      width: 114px;
      height: 200px;
      position: relative;
      top: -944px;
      left: 92px;
    }
    @for $i from 10 through 200 {
      .i-w-#{$i} {
        width: #{$i}px;
      }
    }
    @for $i from 10 through 200 {
      .i-h-#{$i} {
        height: #{$i}px;
      }
    }
    @for $i from -50 through 300 {
      .i-l-#{$i} {
        left: #{$i}px;
      }
    }
    @for $i from -50 through 500 {
      .i-t-#{$i} {
        top: #{$i}px;
      }
    }
    @for $i from 0 through 1000 {
      .i-l-m-#{$i} {
        left: -#{$i}px;
      }
    }
    @for $i from 0 through 1000 {
      .i-t-m-#{$i} {
        top: -#{$i}px;
      }
    }
    background-image: url("../img/equipement.png");
    background-size: 100% 100%;
  }
  .profil_attribute {
    display: block;
    width: 100%;
    height: auto;
    background: white;
    color: black;
    box-sizing: border-box;

    .demi {
      display: inline-block;
      width: 50%;
      height: auto;
    }
    .tier {
      display: inline-block;
      width: 40%;
      height: auto;
      clear:both;
      outline:0;
      img{
        display: block;
        height:100%;
      }
    }
    .Dtier {
      clear:both;
      outline:0;
      display: inline-block;
      width: 50%;
      height: auto;
      padding-left:5px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .icon_attr{
      span{
        margin-top:5px;
        height:30px;
        display:block;
      }
      .tier,.Dtier{
        height:30px;
        line-height: 30px;
      }
      .tier{
        float: left;
      }
    }
    .head_right{
      background: $red;
      color:white;
      height:35px;
      border-bottom: 1px solid black;
      display: block;
      width:100%;
      div{
        display: inline-block;
        height:100%;
        p{
          text-align: center;
          line-height: 35px;
          padding:0;
          margin:0;
        }
      }
    }
  }
}