.wiki_item {
  .item {
    $height: 75px;
    .single_item {
      display: block;
      width: 100%;
      height: $height;
      line-height: $height;
      background: #5a1515;
      text-align: center;
      color: white;
      margin: 0;
      box-sizing: border-box;
      padding: 0;
      * {
        margin: 0;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        float: left;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .single_image {
        display: inline-block;
        width: 20%;
        img {
          margin-left: 25%;
          display: block;
          height: 90%;
          float: left;
          margin-top:8%;
        }
      }
      .single_name {
        display: inline-block;
        width: 64%;

      }
      .single_arrow {
        display: inline-block;
        width: 15%;
        height: $height;
        margin: 0 auto;
        float: right;
        line-height: $height;
        font-size: 1.5em;
        color: $red;
        background:rgba(white,.8);
        //border-left: 1px solid white;
        @include transition-duration(.3s);
      }
      .fa-active {
        background: $red;
        color:white;
        @include transition-duration(.3s);
        @include rotate(90deg);
      }
    }
    .single_item_active{

    }
    .content_item {
      display: none;
      width: 100%;
      background: #cecece;
      p{
        margin:5px 0;
      }
    }
  }
}