.wiki{
  $margin : 20px;
  .wiki_categorie{
    overflow-y:hidden;
    display:inline-block;
    padding:0;
    text-align: center;
    line-height:100px;
    box-sizing: border-box;
    background: $red;
    clear: both;
    min-height:70px;
    top:$margin/2;
    left:$margin/2;
    position: relative;
    //border: 3px solid rgba($red-dark, 0.4);
    text-transform: uppercase;
    letter-spacing: 1px;
    color:white;
    box-shadow: 0px 1px 3px 0px rgba(white, 0.16), 0px 1px 5px 0px rgba(white, 0.12);
  }
  .wiki_categorie-1{
    width:calc(35% - #{$margin}/1.5);
  }
  .wiki_categorie-2{
    width:calc(50% - #{$margin}/1.5);
  }
  .wiki_categorie-3{
    width:calc(65% - #{$margin}/1.5);
  }
  .wiki_categorie-4{
    width:calc(100% - #{$margin}*1.1);
  }
  .menu-right{
    float: right;
  }
  .Body{
    margin-bottom:15px;
  }
}

.wiki_categorie{

}